body {
    background-color: rgb(181, 203, 203);
    font-family: sans-serif;
    max-width: 600px;
    margin: 0 auto 0 auto;
    padding: 20px;
    
}

h1 {
    color: blue;
    font-size: 40px;
    text-decoration: underline;
    text-align: center;
}

p {
    color: black;
    line-height: 1.5;
}

img {
    width: 600px;
}

a {
    margin-top: 20px;
    display: block;
    text-decoration: none;
}
